.key__col {
  display: flex;
  align-self: center;
}

.key__row {
  display: flex;
  align-self: center;
}

.slider__img {
  margin: 0px auto;
}

.slider__img--desktop {
  width: 40%;
  height: 40%;
}

.img__first-step {
  margin: 0px auto;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slide__container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.slide__text {
  font-weight: 100;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.slide__button {
  margin-top: 22vh;
  margin-left: 5vw;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #00e97c;
}
