.item-card {
  /* border-color: var(--ion-color-medium-shade); */
  /* border-width: 1px; */
  /* border-style: ridge; */
  border-radius: 30px;
  margin: 1em 1em 1em 1em;
  box-shadow: 2px 2px 10px var(--ion-color-medium-shade);
}

.item-card__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.item-card-buttons__container {
  display: flex;
  align-items: center;
  float: right;
  padding-bottom: 0.5em;
}

.item-card__icon {
  align-self: center;
  margin: 5px;
}

.item-card__badge {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge--max-width {
  max-width: 260px;
}

.item-card__date {
  padding: 0px;
  font-size: 20px;
  color: var(--ion-color-medium);
  align-self: center;
}

.item-card__description {
  color: var(--ion-color-medium);
}

.item-card__icon-container {
  color: var(--ion-color-tertiary);
  font-size: 35px;
  display: flex;
  align-items: center;
  float: right;
}

.item-card__hour {
  display: inline-flex;
  flex-direction: row;
}

.item-card__hour p {
  color: var(--ion-color-medium);
  margin: 0 auto;
  align-self: center;
}

.item-card__hour-text {
  font-size: 20px;
  color: var(--ion-color-medium);
}

.item-card__hour {
  padding-left: 0px;
}

.item-card__dividing-line {
  width: 100%;
  background: var(--ion-color-secondary) no-repeat scroll center;
  height: 1px;
  margin: 0.3em 0em 1em 0em;
}

.item-card__description--mobile {
  margin-top: 7px;
  max-height: 70px;
}

.item-card__group--mobile {
  margin-top: 10px;
}

.item-card__group--desktop {
  margin-top: 10px;
}

.item-card__col {
  display: flex;
  align-self: center;
}

.item-card__row {
  display: flex;
  align-self: center;
}

.item-card__row {
  margin-top: 10px;
}
