.item-card {
  border-color: #00c79a;
  border-width: 1px;
  border-style: solid;
  max-height: 30vh;
}

.item-card__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.item-card-buttons__container {
  display: flex;
  align-items: center;
  float: right;
}

.item-card__icon {
  align-self: center;
  margin: 5px;
}

.item-card__date {
  padding: 0px;
  font-size: 20px;
  color: #7e8584;
  align-self: center;
}

.item-card__description {
  color: #7e8584;
}

.item-card__icon-container {
  color: #00c79a;
  font-size: 35px;
  display: flex;
}

.item-card__hour p {
  align-self: center;
}

.item-card__dividing-line {
  width: 100%;
  background: #00c79a no-repeat scroll center;
  height: 1px;
}

.item-card__description--mobile {
  margin-top: 7px;
  max-height: 70px;
}

.item-card__group--mobile {
  margin-top: 10px;
}

.item-card__group--desktop {
  margin-top: 10px;
}

.item-card__col {
  display: flex;
  align-self: center;
}

.item-card__hour-text {
  font-size: 12px;
}

.item-card__row {
  margin-top: 10px;
}
