.menu__button {
  color: white;
}

.menu__button--home {
  color: #00c79a;
}

.header__toolbar {
  background-color: #00c79a;
}

.header__title {
  color: white;
  text-align: center;
  padding-left: 0;
}
