.key-list__item {
  --background: var(--ion-color-tertiary);
  color: white;
}

.key-list {
  background: var(--ion-color-tertiary);
}

.key__list--desktop {
  background: var(--ion-color-tertiary);
  width: 80%;
}

.key__row {
  display: flex;
  align-self: center;
}

.key__text {
  text-align: center;
  font-weight: 300;
}

.key__button {
  flex: 1;
}
