.content___message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #989aa2;
  margin-top: 10vh;
  text-align: center;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}

.content___error-img--desktop {
  width: 45%;
}

.content___error-img {
  width: 100%;
}
.content__spinner {
  display: flex;
  margin: 0 auto;
  padding-top: 50%;
  width: 6em;
  height: 6em;
}

.hours_list {
  margin-bottom: 4em;
}

.hour-card__date {
  margin: 0 auto;
  padding: 0px;
  font-size: 20px;
  align-self: center;
}
