.login-form {
  width: 15em;
}

.login-img {
  width: 60%;
  margin: 0px auto;
  margin-top: 4em;
  margin-bottom: 3em;
}

.login-input {
  margin: 10px 0px 10px 0px;
}

.login-button {
  width: 100%;
  margin-top: 1em;
  align-self: center;
  flex: 1;
}

.key-badge__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.key-list__item {
  --background: var(--ion-color-tertiary);
  color: white;
}

.key-list {
  background: var(--ion-color-tertiary);
}

.key__col {
  display: flex;
  align-self: center;
}

.key__row {
  display: flex;
  align-self: center;
}

.key__row--with-padding {
  display: flex;
  align-self: center;
  margin-top: 30vh;
}

.key__title {
  font-weight: 300;
}

.key__fab-button {
  margin-top: 10vh;
}
